################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/whvpclient-master/whvpclient-master
